* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    background: black
}
input {
    position: absolute;
    width: 50%;
    left: 25%;
}
button {
    position: absolute;
    width: 20%;
    height: auto;
    /*top: 150px;*/
    /*left: 40%;*/
    /*display: block;*/
}
div {
    position: absolute;
    width: 20%;
    height: auto;
    background-color: white;
    padding: 10px;
}